<form action="/add" method="POST">
  <p> Titulo: </p>
  <input type="text" name="Titulo" value="">
  <p> Conteudo: </p>
  <textarea name="conteudo" rows="8" cols="10"></textarea>
  <button type="submit" name="button">Cadastrar</button>
</form>
